<div>

    <h4>{{parameter['Nearest Area']}}</h4>
    <br>
    <div>
        <span class="displaylabel">Long:</span>
        <span class="displaydata">{{parameter.longitude.substr(0,6)}}</span>
    </div>
    <div>
        <span class="displaylabel">Lat:</span>
        <span class="displaydata">{{parameter.latitude.substr(0,6)}}</span>
    </div>
    <div>
        <span class="displaylabel">Nearest Place:</span>
        <span class="displaydata">{{parameter['Nearest Place']}}</span>
    </div>
    <div>
        <span class="displaylabel">Country:</span>
        <span class="displaydata">{{parameter['Country']}}</span>
    </div>
    <div>
        <span class="displaylabel">Region:</span>
        <span class="displaydata">{{parameter['Region']}}</span>
    </div>
    <span class="displaylabel">Web Site:</span>
    <span class="displaydata">
        <a ng-href="http://{{parameter['Web Site']}}" target="_blank">{{parameter['Web Site']}}</a>
      </span>
    <div>
        <span class="displaylabel">Phone Number:</span>
        <span class="displaydata">{{parameter['Phone Number']}}</span>
    </div>

        <span class="displaylabel">Ramp Type:</span>
        <span class="displaydata">{{parameter['Ramp Type']}}</span>
    </div>
    <div ng-click="$location.hash('moreInfo')"> More info</div>
</div>

sudo chown -v Rory\ Campbell /usr/local/share/man/de

 /usr/local/share/man/de
    /usr/local/share/man/de/man1
    /usr/local/share/man/man7
    /usr/local/share/man/mann
